<div class='flex flex-wrap body-font'>
  <div class='w-full max-w-4xl m-auto'>
    <div class='mb-10'>
      <div class='flex justify-around mt-3'>
        <button data-action="tab-select#showMock_exam" class='bg-gray-300 text-black font-bold py-2 px-4 rounded'>
          模試形式
        </button>
        <button data-action="tab-select#showQuiz" class='bg-gray-300 text-black font-bold py-2 px-4 rounded'>
          小テスト形式
        </button>
      </div>

      <!-- 年度選択 -->
      <div data-tab-select-target="year" class='w-full h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl'>
        <div class='m-5'>
          <div class='mt-3 flex items-center'>
            <%= image_tag 'calendar.png', size: 50 %>
            <h2 class='font-bold text-xl text-gray-900 ml-3'>年度から選択</h2>
          </div>

          <div class='mt-3 grid gap-3'>
            <%= button_to '第58回（2023年度）', '#',
                  class: 'mt-3 bg-stone-100 text-sky-500 hover:bg-sky-500 hover:text-stone-300 font-bold
                          py-2 px-4 rounded-full shadow-xl text-center', method: :get %>
          </div>
        </div>
      </div>
      <!-- タグ選択 -->
      <div data-tab-select-target="tag" class='hidden w-full h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl'>
        <div class='m-5'>
          <div class='mt-3 flex items-center'>
            <%= image_tag 'tag.png', size: 50 %>
            <h2 class='font-bold text-xl text-gray-900 ml-3'>タグから選択</h2>
          </div>

          <div class='mt-3 grid gap-3'>
            <%= button_to '解剖学', '#',
                  class: 'mt-3 bg-stone-100 text-sky-500 hover:bg-sky-500 hover:text-stone-300 font-bold
                          py-2 px-4 rounded-full shadow-xl text-center', method: :get %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>