<table class="table-auto w-full text-center border-collapse">
  <thead>
    <tr>
      <th class="border-b-2 border-gray-300 px-2 py-1 w-20 whitespace-nowrap">問題番号</th>
      <th class="border-b-2 border-gray-300 px-2 py-1 w-20 whitespace-nowrap">回答</th>
      <th class="border-b-2 border-gray-300 px-2 py-1 w-20 whitespace-nowrap">正答</th>
    </tr>
  </thead>
  <tbody>
    <% questions.each do |question| %>
      <tr>
        <!-- 問題番号 -->
        <td class="border border-gray-300 px-2 py-1 w-20 <%= question.decorate.incorrect_color(examination) %>">
          <%= test.decorate.question_code_without_turn(question) %>
        </td>

        <!-- 回答 -->
        <td class="border border-gray-300 px-2 py-1 bg-sky-100 w-20">
          <%= question.selected_choice(examination).join(', ') %>
        </td>

        <!-- 正答 -->
        <td class="border border-gray-300 px-2 py-1 bg-green-100 w-20">
          <%= question.correct_choices.join(', ') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
