<div class='mt-4 justify-center'>
    <div>
        <h3 class='font-bold text-xl text-gray-500'>共通</h3>
        <%= image_tag 'chart1.png', size: 600 %>
    </div>
    <div>
        <h3 class='font-bold text-xl text-gray-500'>専門</h3>
        <%= image_tag 'chart3.png', size: 600 %>
    </div>
    <div>
        <h3 class='font-bold text-xl text-gray-500'>実地</h3>
        <%= image_tag 'chart3.png', size: 600 %>
    </div>
</div>
