<div class="flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 px-5 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900 ml-3">
            <%= image_tag 'logo.png', size: 50 %>
            <span class="ml-3 text-xl">国試ex for PT</span>
        </a>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center justify-end">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <nav class="list-none mb-10">
                <li>
                    <%= link_to 'トップ', root_path, class: 'mr-5 hover:text-orange-300 block' %>
                </li>
                <li>
                    <%= link_to '利用規約', terms_of_use_path, class: 'mr-5 hover:text-orange-300 block' %>
                </li>
            </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <nav class="list-none mb-10">
                <%# <li>
                    <a class="text-gray-600 hover:text-orange-300">アプリについて</a>
                </li> %>
                <li>
                    <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'mr-5 hover:text-orange-300 block' %>
                </li>
                <%# <li>
                    <a class="text-gray-600 hover:text-orange-300">お問い合わせ</a>
                </li> %>
            </nav>
        </div>
    </div>
</div>
