<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold text-gray-900 mb-4">アカウント情報</h2>

    <div class=" bg-gray-100 rounded">
      <div class="p-4">
        <p class="text-gray-900 mb-2">
          ユーザー名: <%= current_user.username %>
        </p>
        <p class="text-gray-900">
          メールアドレス: <%= current_user.email %>
        </p>
      </div>
    </div>
    <div class="mt-4 text-center">
      <%= link_to 'アカウント情報を変更する', edit_user_registration_path,
                  class: 'bg-sky-100 text-gray-700 hover:bg-sky-500 hover:text-orange-300
                          font-bold py-2 px-4 rounded-lg shadow-xl text-center' %>
    </div>
  </div>
</div>
