<p><%= t('.greeting', recipient: @resource.email) %></p>

<p>国試ex_PTのパスワード再設定を受付ました。</p>
<p>下記リンクよりパスワードを再設定してください。</p>
<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>お心当たりのない場合はこのメールを無視してください</p>
<p>※本メールの受信時点ではパスワードの再設定は完了していません</p>
